<h1>New Soak for <%= tub.name %></h1>
<p>Price: <%= number_to_currency tub.price %></p>
<%= simple_form_for [@tub, @soak] do |f| %>
  <div data-controller="datepicker" data-datepicker-price-value="<%= tub.price %>">
    <div class="mb-3">
      <%= label_tag :date_range, "Choose your dates:" %>
      <%= text_field_tag :date_range, "", class: "form-control", data: { datepicker_target: "input" } %>
    </div>

    <%= f.input :start_date, as: :hidden, input_html: { data: { datepicker_target: "start", modal_target: "start" } } %>
    <%= f.input :end_date, as: :hidden, input_html: { data: { datepicker_target: "end", modal_target: "end" } } %>

    <p class="mt-3 fw-bold">
      Total Cost: $<span data-datepicker-target="total">0.00</span>
    </p>
  </div>

  <%= f.submit class: "btn btn-primary"%>
<% end %>
