<h1>New Soak for <%= @tub.name %></h1>
<p>Price: $<%= @tub.price %></p>
<%= simple_form_for [@tub, @soak] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
<p>Total Cost: $<%= %></p>
