<h1><%= current_user.first_name %>'s Booking</h1>
<ul>
  <% @my_bookings.each do |booking| %>
    <li>
      <h5><%= link_to booking.tub.name, tub_path(booking.tub) %></h5>
      <p><%= booking.tub.description %></p>
      <p>Price: $<%= booking.tub.price %> Total: $<%= booking.cost %></p>
      <p>Size: <%= booking.tub.size %>, Category: <%= booking.tub.category %></p>
      <p><%= booking.start_date %> to <%= booking.end_date %></p>
    </li>
  <% end %>
</ul>

<h1>Bookings of <%= current_user.first_name %>'s Tubs</h1>

<ul>
  <% @my_booked_tubs.each do |booking| %>
    <li>
      <h5><%= link_to booking.tub.name, tub_path(booking.tub) %></h5>
      <p>Booked by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
      <p>Price: $<%= booking.tub.price %> Total: $<%= booking.cost %></p>
      <p>Size: <%= booking.tub.size %>, Category: <%= booking.tub.category %></p>
      <p><%= booking.start_date %> to <%= booking.end_date %></p>
    </li>
  <% end %>
</ul>
