<h1>New Tub!</h1>
<%= simple_form_for tub do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.input :price %>
  <%= f.input :size, collection: Tub::SIZES %>
  <%= f.input :category, collection: Tub::CATEGORIES %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
