<h5><%= @tub.name %></h5>
<p><%= @tub.description %></p>
<p>Price: $<%= @tub.price %></p>
<p>Size: <%= @tub.size %>, Category: <%= @tub.category %></p>

<%= link_to "Go back", tubs_path, class: "btn btn-primary"%>
